<%- include('partials/header', { title: 'Home' }) %>
<%- include('partials/main_nav', { title: 'Home' }) %>

<div class="container">
    <h1>Hello, I'm Dev Parmar</h1>
    <p>I am a Year 2 student at UOIT, enrolled in the Web and Script Programming class.</p>
    
    <!-- Image of Dev above the text -->

    <p>Welcome to my portfolio! Here, you can learn more about me, my projects, and how to contact me.</p>
    <img src="/Assets/images/Ontariotech.png" alt="Dev Parmar's Image" class="img-fluid" />
</div>

<%- include('partials/footer') %>
<%- include('partials/bottom_nav') %>

