<%- include('partials/header', { title: 'Home' }) %>
<%- include('partials/main_nav', { title: 'Home' }) %>

<div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>This is the home page where I introduce myself and my work.</p>

    <div class="row">
        <div class="col-md-6">
            <h2>About Me</h2>
            <p>I'm a web developer with a passion for creating interactive and user-friendly websites. I specialize in both front-end and back-end development.</p>
        </div>
        <div class="col-md-6">
            <img src="/Assets/images/profile.jpg" class="img-fluid" alt="Profile Picture">
        </div>
    </div>
</div>

<%- include('partials/footer') %>
<%- include('partials/bottom_nav') %>
