<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/Content/app.css" />
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/main_nav') %>

  <section class="projects-section">
    <h3><b>Projects, Dev</b></h3>
    <p>These are the projects I have done. Below are a few projects of the many projects I have done. Click on the image to go to a Google Doc that has the specific content.</p>
  </section>

  <section class="image-row">
    <div class="project-item">
      <a href="https://docs.google.com/document/d/1yqRHimv5OD85N0RInNfYDWQ_3YdlLgk_/edit?usp=sharing&ouid=101483901846760766513&rtpof=true&sd=true">
        <img src="/Assets/images/Reflection.PNG" alt="Image of Reflection Project" class="project-image">
      </a>
      <p>Project 1 - Reflection</p>
    </div>
    <div class="project-item">
      <a href="https://docs.google.com/document/d/1xs70FcSW-tpbi0mT61xk_XhO8t2fAHZsGa-ZtXXISVk/edit?usp=sharing">
        <img src="/Assets/images/Project_Coding.PNG" alt="Image of Coding Project" class="project-image">
      </a>
      <p>Project 2 - Coding</p>
    </div>
  </section>

  <section class="image-row">
    <div class="project-item">
      <a href="https://docs.google.com/document/d/1aqljp30vBOrYLtEciSJ1RVnBgg2wvGh4TKo8i4O17_U/edit?usp=sharing">
        <img src="/Assets/images/ESG-Podcast.PNG" alt="Image of ESG Podcast Script" class="project-image">
      </a>
      <p>Project 3 - ESG Podcast</p>
    </div>
    <div class="project-item">
      <a href="https://docs.google.com/document/d/1y3uxc4K7oMAut178DzsByVQCSJeO_w5uULMJSXjuWNQ/edit?usp=sharing">
        <img src="/Assets/images/Project-Coding-File.PNG" alt="Image of Coding Documentation" class="project-image">
      </a>
      <p>Project 4 - Coding Documentation</p>
    </div>
  </section>

  <section class="about-box">
    <h3><b>Project 1 - Reflection</b></h3>
    <p>In this Project, I was to do a reflection upon the completion of my project where I had to rate both my partner and work experience about what was done.</p>
    <h3><b>Project 2 - Coding</b></h3>
    <p>In this Project, I was to accomplish the completion of a section of code that was relevant to my project for Python.</p>
    <h3><b>Project 3 - ESG Podcast</b></h3>
    <p>In this Project I was to accomplish the completion of an ESG podcast script that was to be recorded for the project.</p>
    <h3><b>Project 4 - Coding Documentation</b></h3>
    <p>In this project I was to code my project and then showcase the documentation.</p>
  </section>

  <%- include('partials/footer') %>
</body>
</html>